# WalletConnect Project ID (Obtenido en https://cloud.walletconnect.com/)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=tu_project_id_aqui

# URL del Cloudflare Worker para el Leaderboard (local por defecto)
WORKER_URL=http://127.0.0.1:8787
